<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Songs Homepage - Welcome to My Music Store</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<header class="bg-primary text-white text-center py-3">
    <h1>Welcome to My Music Store</h1>
    <div class="text-center mt-4">
        <a href="/albums" class="btn btn-dark">
            Show Albums
        </a>
    </div>
</header>
<main class="container my-5">
    <h2 class="text-center mb-4">Choose a Song:</h2>
    <form th:method="GET" th:action="@{/artist}">
        <div class="list-group">
            <div th:each="song : ${songs}" class="list-group-item d-flex align-items-center justify-content-between">
                <div>
                    <input type="radio" name="songItem" th:id="${song.getTrackID()}" th:value="${song.getTrackID()}" class="mr-2">
                    <label th:for="${song.getTrackID()}" th:text="'Title: '+${song.getTitle()}+', Genre:'+${song.getGenre()}+', Release Year: '+${song.getReleaseYear()}+', Album name: '+${song.getAlbum().getName()}"></label>
                </div>
                <div>
                    <a th:href="@{'/songs/delete/{songId}' (songId=${song.getId()})}" class="btn btn-sm btn-danger mr-2">
                        <i>Delete</i>
                    </a>
                    <a th:href="@{'/songs/edit-form/{id}' (id=${song.getId()})}" class="btn btn-sm btn-info">
                        <i>Edit</i>
                    </a>
                </div>
            </div>
        </div>
        <div class="text-center mt-4">
            <input type="submit" value="Submit" class="btn btn-primary">
        </div>
    </form>
    <div class="text-center mt-4">
        <a href="/songs/add-form" class="btn btn-dark">
            Add New Song
        </a>
    </div>
</main>
</body>
</html>
